.advanced {
	max-width: 70rem;
	margin: 2rem auto;
	.inner {
		.flex-row();
		width: 100%;
		.advanced-search {
			flex: 1 0 20%;
			section {
				margin-bottom: 1rem;
				max-height: initial;
			}
			.advanced-field {
				padding: @thin;
				border-radius: @thin;
				background: linear-gradient(90deg, @opaque, transparent 95%);
				.pages {
					width: 18rem;
					justify-content: space-between;
				}

				.mana-button {
					margin-left: @thinner;
					padding: @thinner;
				}
			}
		}
		.advanced-search-results {
			padding: @thin;
			background: @darker;
			border-radius: @thinner;
			.card-container {
				padding: 0 @thin @thin 0;
			}
			p {
				max-width: 25rem;
			}
		}
	}
}
