.dash {
	.hero {
		.flex-centered();
		.fixed-full-page();
		flex-direction: column;
		position: relative;
		height: 50vh;
		background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
		.banner {
			.flex-centered();
			flex-direction: column;
			text-align: center;
			padding: 3rem 1rem;
			.title svg {
				width: 25rem;
				height: 8rem;

				path {
					fill: @lightest;
					transition: 0.2s;
				}
				path:hover {
					fill: @highlight;
					cursor: pointer;
					transform: translateY(-@thin);
				}
			}
		}
		.play-title {
			width: 30rem;
			justify-content: start;
			.letter {
				width: 3.75rem;
				height: 5.25rem;
				background: @lightest;
				color: @darkest;
				border-radius: @thinner;
				transition: all 0.2s;
				font-size: 3rem;
				opacity: 0;
				margin-top: 0;
				transition: 0s;

				&.anim {
					transition: 0.3s;
					opacity: 1;
					animation-name: flip-in;
					animation-duration: 0.5s;
					animation-fill-mode: both;
					animation-iteration-count: 1;
					&:hover {
						cursor: pointer;
						background: @highlight;
						// transform: translateY(-@thin) scale(1.1);
					}
				}
				&.spent {
					transition: all 0.5s 0s, width 0.2s 0.4s;
					opacity: 0;
					pointer-events: none;
					width: 0;
					margin: -5rem 0 0;
				}
			}
		}

		.log-in-form {
			padding-top: 1rem;
			.buttons {
				display: flex;
				justify-content: center;
				margin-bottom: 2rem;
				font-family: @header;
			}
			.log-out {
				font-size: @big;
				.flex-centered();
				button {
					margin-left: 1rem;
				}
			}
			.in-form,
			.up-form {
				width: 16rem;
				transition: transform 0.2s;
				transform-origin: 0 0;

				* {
					width: 100%;
				}
				.field {
					margin-top: 1rem;
				}
			}
			.in-form.hide,
			.up-form.hide {
				margin: 0;
				padding: 0;
				height: 0;
				width: 0;
				transform: scale(0);
			}
		}
	}
}
.browse {
	background: @darker;
	color: @lightest;
	padding: 1rem;
	margin: 1rem auto 3rem;
	max-width: 60rem;
	box-shadow: 0 0 2rem @opaque;
	.new-deck {
		font-size: @big;
		padding: @thin 1rem;
		height: auto;
	}
	.decks {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		.deck-tile {
			margin-top: 1rem;
			margin-right: 1rem;
			width: 18rem;
			height: 22rem;
			flex-shrink: 1;
			background: @dark;
			border-radius: @thinner;
			.flex-row {
				height: 12rem;
				&:hover .feature {
					filter: brightness(0.6);
				}
			}
			.pie {
				position: absolute;
				z-index: 20;
				margin: -12.5rem 0 0 -@thin;
				filter: drop-shadow(0 0 @thin @opaque);
				svg {
					height: 3.5rem;
					width: 3.5rem;
				}
			}

			.feature {
				object-fit: cover;
				width: 18rem;
				height: 12rem;
			}

			.play-button {
				position: absolute;
				z-index: 100;
				border-radius: 0;
				margin: 0 0 0 15rem;
				button {
					background: linear-gradient(90deg, transparent, @darkest);
					color: @lightest;
					box-shadow: none;
					height: 12rem;
					width: 3rem;
					margin: 0;
				}
				&:hover {
					button {
						color: @highlight;
					}
				}
			}

			.new-button {
				height: 22rem;
				margin: 0;
			}

			.info {
				padding: @thin;
				height: 10rem;
				border-radius: 0 0 @thinner @thinner;

				.tag {
					margin-top: @thinner;
				}
				.updated-at {
					font-style: italic;
					margin-top: @thinner;
				}
			}

			.links {
				.flex-col();
				width: 3rem;
				* {
					width: 100%;
					font-size: 1.1rem;
					height: 100%;
				}
			}
		}
	}
}
.feature-full {
	img,
	button {
		width: 100%;
		height: 12rem;
		background-color: @lighter;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.change-img {
		position: absolute;
		z-index: 1;
		height: 5rem;
		width: 5rem;
		border-radius: @thin;
		background: @opaque;
		opacity: 0;
		cursor: pointer;
	}
	&:hover .change-img {
		opacity: 1;
	}
}

.dash-buttons {
	.dash-button {
		width: 10rem;
		height: 14rem;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 1rem;
		border: 1px solid @lightest;
		font-size: 2rem;
		text-align: center;
		.icon svg {
			width: auto;
			height: 5rem;
		}
		&:hover {
			border-color: @highlight;
			color: @highlight;
			cursor: pointer;
			.icon svg path {
				fill: @highlight;
			}
		}
	}
}

.user {
	background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	.profile {
		padding: 1rem 0 @thin;
		.avatar {
			font-size: 3rem;
		}
	}
}
