// // IMPORTS

@import "library.less";

// STYLES

html {
	font-size: 90%;
	color: @lightest;
	background: @darker;
	font-family: @para;
}

@media screen and (min-width: 1440px) {
	html {
		font-size: 120%;
	}
}
@media screen and (min-width: 1920px) {
	html {
		font-size: 150%;
	}
}
@media screen and (min-width: 3840px) {
	html {
		font-size: 250%;
	}
}

.wrapper {
	padding-top: @headerH;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	position: relative;
	margin: 0 auto;
	& > * {
		height: 100%;
	}
}

.bg-img {
	.fixed-full-page();
	height: calc(100vh - @headerH);
	top: @headerH;
	z-index: -2;

	.playmat {
		width: 100%;
		height: 100%;
		background-color: @darker;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.grad {
		.fixed-full-page();
		background: linear-gradient(45deg, fade(@dark, 50%), @darkest);
	}
	.darken {
		.fixed-full-page();
		position: absolute;
		z-index: 1;
	}
}

.main-header {
	.flex-centered();
	.fixed-full-page();
	height: @headerH;
	z-index: 150;
	justify-content: space-between;
	background: @darkest;
	height: @headerH;
	padding: @thin;
	font-size: 120%;
	font-family: @header;
	* {
		white-space: nowrap;
		flex-wrap: nowrap;
	}
	.title {
		.icon .logo {
			width: 8rem;
			// height: 1rem;
			path {
				fill: @lightest;
			}
		}
		&:hover .icon .logo path {
			fill: @highlight;
		}
	}

	.custom-select {
		background: transparent;
		&:hover .select-collapsed {
			filter: brightness(0.8);
			cursor: text;
		}
		.select-collapsed {
			color: @light;
			padding: @thin;
			font-size: 1rem;
		}
		.option a {
			font-size: 1rem;
			color: @dark;
		}
	}

	.nav-search-bar {
		max-width: 50%;
	}
	// .sub-title {
	// 	.flex-centered();
	// }
	// .nav {
	// 	.flex-centered();
	// 	justify-content: flex-end;

	// .to-profile a {
	// 	.bar();
	// 	.even();
	// 	.mini-spaced-bar();
	// 	font-size: @small;
	// 	.feature {
	// 		width: 1.5rem;
	// 		height: 1.5rem;
	// 		border-radius: @thinner;
	// 	}
	// 	&:hover {
	// 		filter: brightness(0.8);
	// 	}
	// }
	// }
}

.notifications {
	position: fixed;
	top: 1rem;
	left: 25%;
	width: 50%;
	z-index: 5555;
	pointer-events: none;
	.notification {
		.clean-input();
		.flex-centered();
		justify-content: flex-start;
		height: auto;
		width: 100%;
		margin-top: @thin;
		padding: @thin 1rem;
		color: @darkest;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.8);
		animation: slide-in-out-top 5s ease forwards;
		.icon {
			font-size: 2rem;
		}
	}
	.info {
		background: @lighter;
	}
	.warning {
		background: @highlight;
	}
	.error {
		background: @red;
	}
	.success {
		background: @green;
	}
}

.loading {
	.flex-centered();
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.5);
	color: @lighter;
	.main-msg {
		.flex-row();
		font-size: 4rem;
		animation-name: waver;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		.spinner {
			.flex-centered();
			transform-origin: 50% 50%;
			animation-name: spin;
			animation-duration: 2s;
			animation-iteration-count: infinite;
		}
	}
	.sub-msg {
		font-size: 1.5rem;
	}
}

.tab-switch {
	.tab {
		text-align: center;
		transition: 0.2s;
		padding: @thin;
		flex-grow: 1;
		background: linear-gradient(transparent, @opaque);
		&:last-child {
			border-right: none;
		}
		&:hover {
			color: @highlight;
			cursor: pointer;
			border-bottom: 1px solid @highlight;
		}
		.warning-button {
			border: none;
			font-size: @small;
			margin: 0;
			padding: 0;
		}
	}
	.tab.selected {
		background: linear-gradient(transparent, fade(@highlight, 50%));
		border-bottom: 1px solid @lightest;
	}
}

.spinner {
	animation-name: spin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.drop-slot {
	// flex: 1 0 @cardW;
	position: relative;
	margin: 0;
	transition: 0.2s;
}
.drop-slot.over {
	background-color: fade(@highlight, 40%);
	border-radius: @thin;
}

.drop-slot.list {
	display: flex;
}

.custom-select {
	width: 10rem;
	height: 2rem;
	margin: @thinnest;

	border-radius: @thinnest;
	background: @lightest;
	cursor: pointer;

	.set-symbol {
		width: 1.5rem;
		height: 1.5rem;
		object-fit: contain;
	}
	input {
		box-shadow: inset 0 0 @thinner @opaque;
		margin: 0;
		font-size: 1rem;
		padding: @thin;
		border-radius: 0;
		width: 100%;
	}
}
.select-collapsed {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: @darkest;
}

.options {
	position: absolute;
	z-index: 30;
	width: 10rem;
	max-height: 10rem;
	overflow-y: auto;
	overflow-x: hidden;
	color: @darkest;
	background: @lightest;
	box-shadow: 0 0 @thinner @opaque;
	.option {
		.flex-row();
		justify-content: space-between;
		width: 100%;
		// background: @lightest;
		// border-left: @thinnest solid @highlight;
		cursor: pointer;
		&:hover {
			background: @highlight;
		}
	}
	.option.selected {
		background: @highlight;
	}
	.search-cards {
		width: 20rem;
		display: flex;
		justify-content: flex-start;
		.card-head {
			background: transparent !important;
		}
	}
}

.custom-select.searchable {
	.select-collapsed {
		box-shadow: inset 0 0 @thinner rgba(0, 0, 0, 0.3);
		&:hover {
			cursor: text;
			color: @dark;
		}
	}
}

.nav {
	.quick-search {
		color: @light;
		background: @dark;
		.select-collapsed:hover {
			color: @light;
		}
	}
}
.quick-search {
	flex: 1 0 50%;
	border-radius: @thin;
	.custom-select {
		flex: 0 0 100%;
		margin: 0;
		width: auto;
		border-radius: @thinner;
		font-size: 1.2rem;
		.options {
			max-height: 25rem;
			width: 100%;
			max-width: 44rem;
			background: @lighter;
			color: @darkest;

			input {
				width: 44rem;
				font-size: 1.5rem;
			}
			.option {
				width: 100%;
				margin: 0;
				padding: 0;
				font-size: 1.25rem;
				.card-container {
					width: 100%;
				}
				.mini-icon {
					width: 7rem;
				}
				.card-text,
				.col {
					width: 100%;
					margin: 0;
					background: transparent;
				}
				&:hover .col {
					background: transparent;
				}
				.name {
					font-size: 1.5rem;
				}
				.types {
					font-size: 1rem;
				}
			}
		}
	}
}

.card-search .quick-search .custom-select {
	color: @lighter;
	background: @opaque;

	.select-collapsed {
		color: @lighter;
		&:hover {
			color: @light;
		}
	}
}

.custom-select.small {
	width: 3rem;
	min-height: 1.5rem;
	.select-collapsed {
		padding: @thinnest;
	}
	.options {
		width: 3rem;
		height: auto;
	}
	.options input {
		padding: @thinnest;
	}
}

.basic-search {
	.drop-slot {
		margin: 0;
	}
	.search-bar {
		flex-flow: row-reverse;
		input {
			width: 100%;
			font-size: 1.2rem;
			padding: 1.5rem 1rem;
		}
		.exit {
			position: absolute;
			z-index: 2;
		}
	}
	.results {
		transition: 0.4s;
		position: absolute;
		z-index: 1;
		max-height: 25rem;
		overflow-y: auto;
		background: @lighter;
		width: auto;
		padding: @thinner @thin;
	}
}

.footer {
	.flex-row();
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
	background: @darkest;
	& > * {
		margin-right: 1rem;
	}
	.inverse-button {
		font-weight: normal;
		margin-bottom: @thin;
	}
}

.hamburger-cont {
	.toggle {
		cursor: pointer;
		&:hover {
			filter: brightness(0.7);
		}
	}
	.inner {
		.flex-col();
		min-width: 12rem;
		padding: @thinner;
		position: absolute;
		background: @dark;
		opacity: 1;
		transform: scale(1);
		& > * {
			width: 100%;
		}
	}
	.inner:not(.open) {
		opacity: 0;
		transform: scale(0);
		padding: 0;
	}
}

.user-button {
	.small-button();
	.inverse-button();
	height: auto;
	margin: 0;
	// padding: 0;
}

// button.ms {
// 	&:not(.selected):not(:hover) {
// 		background: transparent;
// 		box-shadow: none;
// 	}
// }

.tool-tip {
	position: fixed;
	z-index: 1000;
	opacity: 0;
	transform-origin: 0% 0%;
	transition: opacity 0.3s;
	pointer-events: none;
	box-shadow: 0 0 @thin @opaque;
	&.message {
		background: @lightest;
		color: @darkest;
		padding: @thin;
		max-width: 15rem;
		border-radius: @thin;
		margin-left: 1rem;
		margin-top: -2rem;
	}
	&.hover-card {
		background: black;
		color: @lightest;
		transition: opacity 0.3s;

		margin-top: -@cardH;
		margin-left: 1rem;
		border-radius: @thin;
		width: @cardW*2;
		img {
			border-radius: 1rem;
			height: @cardH*2;
		}
		.prices {
			padding: @thinner;
		}
	}
}
.tool-tip-container:hover .tool-tip {
	opacity: 1;
	transition-delay: 1s;
	&.hover-card {
		opacity: 1;
		transition-delay: 1s;
	}
}

.context-menu {
	position: fixed;
	z-index: 1010;
	transform-origin: 0% 0%;
	padding: @thin;
	background: @darker;
	color: @lighter;
	border-radius: @thinner;
	box-shadow: 0 0 @thin @opaque;
	.context-option {
		padding: @thinner;
		cursor: pointer;
		&:hover {
			color: @highlight;
		}
	}
}

.section {
	margin: 1rem auto;
	width: 46rem;
	padding: 1rem;
	background: @darker;
	box-shadow: 0 0 1rem @opaque;
	p {
		max-width: 25rem;
	}
	&.sec-html {
		background: @lightest;
	}
	&.fill {
		margin: 1rem 0;
		width: 100%;
	}
}

.point {
	cursor: pointer;
}
