.modal-cont {
  .fixed-full-page();
  .flex-centered();
  z-index: 300;
  transition: 0.5s;
  .exit {
    .fixed-full-page();
    position: absolute;
    z-index: -1;
    background: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      .icon {
        color: @red;
      }
    }
    .icon {
      font-size: @bigger;
      position: absolute;
      top: 3rem;
      left: 1rem;
      z-index: 100;
      transition: 0.2s;
    }
  }
  .modal-box {
    .flex-col();
    justify-content: flex-start;
    align-items: flex-start;

    transition: 0.3s ease-out;
    background: @dark;
    padding: 1rem;
    max-height: calc(100vh - 6rem);
    min-width: 30rem;
    margin: auto;
    border-radius: @thinner;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    & > * {
      position: relative;
      top: 0;
    }

    .inspect-container {
      .header {
        .flex-row();
        justify-content: space-between;
        height: 2rem;
        margin-bottom: 1rem;
      }

      .info {
        .flex-centered();
        img {
          object-fit: cover;
          height: 28rem;
          width: 20rem;
          border-radius: @thin;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0, 0.6);
        }

        .text {
          .flex-col();
          color: @lightest;
          padding: 0 2rem 0 0;
          height: 28rem;
          width: 20rem;
          h2 {
            font-size: 1.3em;
            padding-bottom: 1rem;
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
          }
          p {
            font-size: 0.9em;
            line-height: 1.2em;
            padding-bottom: @thin;
          }

          .field-label {
            color: @darkest;
          }
          .rulings {
            height: 100%;
            border-radius: @thin;
            background: @darker;
            box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0, 0.5);
            padding: 1rem;
            margin-top: @thin;
            overflow-y: scroll;
            .ruling {
              margin-bottom: 2rem;
              h4 {
                color: @lighter;
                font-weight: bold;
                margin-bottom: @thin;
              }
              p {
                color: @lightest;
              }
            }
          }
        }
      }
    }
    .choose-print {
      min-width: calc(@cardW*2);
      max-width: 60rem;
      // height: 24rem;
      .options {
        .flex-row();
        flex-wrap: wrap;
        padding: 0 @thin;
        margin-top: 1rem;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .print-select-card {
          margin-bottom: 1rem;
          width: @cardW;
          margin-right: @thin;
          h4 {
            height: 2rem;
            margin-bottom: @thin;
          }
        }
      }
    }
  }
}
.hide-modal {
  opacity: 0;
  pointer-events: none;
  .modal-box {
    transform: scale(0);
    padding: 0;
  }
}
