.tester {
  .zone {
    min-width: @cardW;
    .title {
      font-family: "MTG-head";
      margin: @thin 0 @thinner;
      font-size: @smaller;
      color: @lighter;
      padding: @thinnest;
      .custom-select {
        background: transparent;
        .select-collapsed {
          color: @lighter;
          font-size: @small;
          padding: 0;
        }
        * {
          color: @darker;
        }
      }
    }
    .row {
      .flex-row();
      height: 100%;
      width: 100%;
      box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
      .card-container {
        .card-img {
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        }
        .card-controls > * {
          .hide();
          position: absolute;
          top: 0;
          z-index: 20;
        }
        &:hover .card-controls > *,
        .card-controls:hover .card-controls > *:hover {
          opacity: 1;
          pointer-events: all;
        }

        .mana-source {
          .flex-row();
          color: @darkest;
          max-width: @cardW;
          text-shadow: 0 0 1rem @lightest;
          white-space: nowrap;
          .tap-for {
            cursor: pointer;
            transition: 0.1s;
            transform-origin: 50%;
            &:hover {
              transform: scale(1.2);
              color: @highlight;
            }
          }
        }
        .add-counters {
          top: calc(@cardH - 4rem);
          z-index: 25;
        }
        .counters-display {
          top: @cardH;
          opacity: 1;
          pointer-events: all;
          color: @lightest;
          text-shadow: 0 0 1rem @darkest;
        }
      }
    }
  }

  .test-controls {
    .flex-row();
    position: fixed;
    top: 2rem;
    right: 0;
    z-index: 20;
    width: calc(100vw - (@cardW + 1rem));
    height: 1.5rem;
    justify-content: space-between;
    height: 1.5rem;
    color: @lightest;
    background: @dark;
    p {
      font-family: @header;
      margin-left: @thin;
      .flex-centered();
      justify-content: flex-start;
    }
    .turn {
      width: 10rem;
    }
    // .counter {
    //   .discrete-input();
    // }

    .mana-counters {
      .flex-row();
      .counter {
        input {
          width: 1rem;
        }
      }
    }
    .game-log {
      width: 20rem;
      background: rgba(0, 0, 0, 0.5);
      max-height: 15rem;
      overflow-y: auto;
      align-self: flex-start;
      border-radius: @thinner;
      .log {
        .flex-row();
        justify-content: space-between;
        padding: 0 @thin @thin;
        &:last-child {
          padding-bottom: 0;
        }

        .timestamp {
          font-weight: bold;
        }
        .action {
          font-style: italic;
        }
        .arrow {
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            color: @red;
          }
        }
        &:hover {
          opacity: 1;
          cursor: pointer;
          background: rgba(200, 200, 0, 0.3);
        }
      }
      .inactive {
        opacity: 0.7;
      }
      .pointer {
        margin-bottom: @thin;
        border-bottom: 1px solid @highlight;
      }
    }
  }

  .side-col {
    position: fixed;
    top: 2rem;
    z-index: 40;
    left: 0;
    height: calc(100vh - 2rem);
    max-height: calc(100vh - 2rem);
    width: calc(@cardW + 1rem);
    padding: @thinner;
    .flex-col();
    justify-content: flex-end;
    background: @darker;
    .graveyard,
    .exile {
      flex: 1 0 3rem;
      .row {
        max-height: 5rem;
        height: 5rem;
        flex-flow: column nowrap;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: @smaller;
        font-family: "MTG-para";
        .drop-slot {
          flex: 1 0 1px;
          .header {
            padding: @thinnest @thin;
          }
        }
      }
    }
    .library-cont {
      display: flex;
      flex-flow: column-reverse;
    }
  }

  .library,
  .command {
    .row {
      min-height: @cardH;
      min-width: @cardW;
    }
    .card-container {
      animation-name: slide-in;
    }
  }

  .hand {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 30;
    height: calc(@cardH + 2rem);
    width: calc(100vw - (@cardW + 1rem));
    transition: 0.3s ease;
    .row {
      box-shadow: none;
      background: rgba(0, 0, 0, 0.5);
      .drop-slot {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(@thinnest, max-content));
        .card-container {
          animation-name: flip-in;
          &:hover {
            transform: scale(1.3) translateY(-1rem);
          }
        }
      }
    }
  }
  .battlefield {
    position: fixed;
    top: calc(@headerH + 1.5rem);
    height: calc(100vh - (@cardH + calc(@headerH + 1.5rem)));
    left: (@cardW + 1rem);
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    .inner {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      .row {
        flex-wrap: nowrap;
        flex: 1 0 @cardH;
        height: 100%;
        width: 100%;
        .drop-slot {
          .flex-centered();
        }
        .card-container {
          animation-name: flip-in;
          animation-timing-function: ease;
          transform-origin: 100% 100%;
        }
      }
    }
    .bottom {
      height: 3rem;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    }
  }

  .stack {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-flow: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    background: linear-gradient(90deg, transparent, @darkest);

    .item {
      .flex-col();
      align-items: flex-end;
      pointer-events: all;
      filter: drop-shadow(0 0 1rem @darkest);
      margin-right: @thin;
      margin-top: 1rem;
      max-width: 15rem;

      .header {
        text-align: right;
        font-weight: bolder;
        font-size: 1.1em;
        padding-bottom: @thin;
        border-bottom: 1px solid @lightest;
        margin-bottom: @thin;
      }
      .body {
        font-style: italic;
        padding-bottom: @thin;
      }
    }
  }
}
