@font-face {
  font-family: "Arimo";
  src: url(../../fonts/Arimo-Regular.ttf);
}
@font-face {
  font-family: "Beleren";
  src: url(../../fonts/beleren-bold_P1.01.ttf);
}
.invisible {
  opacity: 0;
  pointer-events: none;
}
.hide {
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.flex-col {
  display: flex;
  flex-flow: column nowrap;
}
.flex-centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.fixed-full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.bordered {
  border: 2px solid #020817;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}
.clean-input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.discrete-input {
  background: transparent;
  width: 2rem;
  color: #eff5ff;
  padding: 0;
  box-shadow: none;
}
.discrete-input:hover {
  color: #e6c46e;
}
.discrete-input[type="number"] {
  -moz-appearance: textfield;
}
.discrete-input::-webkit-outer-spin-button,
.discrete-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-shadow {
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.box-shadow {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.clean-button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 120%;
  font-family: "MTG-head";
  cursor: pointer;
  background: #fff4eb;
  font-weight: bold;
}
.clean-button:hover {
  background: #d6c2c8;
}
.small-button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 120%;
  font-family: "MTG-head";
  cursor: pointer;
  background: #fff4eb;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  width: auto;
}
.small-button:hover {
  background: #d6c2c8;
}
.smaller-button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 120%;
  font-family: "MTG-head";
  cursor: pointer;
  background: #fff4eb;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  width: auto;
  height: 1rem;
}
.smaller-button:hover {
  background: #d6c2c8;
}
.selected {
  background: #e6c46e;
}
.selected:hover {
  background: #dba15e;
}
.active {
  color: #e6c46e;
}
.warning-button:hover {
  background: #ff4466;
}
.success-button:hover {
  background: #7be8c0;
}
.inverse-button {
  font-weight: bold;
  padding: 0.125rem;
  margin: 0.125rem;
  color: #fff4eb;
  border-bottom: 1px solid #fff4eb;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.inverse-button:hover {
  background: transparent;
  color: #d6c2c8;
  border-color: #d6c2c8;
}
.inverse-small-button {
  font-weight: bold;
  padding: 0.125rem;
  margin: 0.125rem;
  color: #fff4eb;
  border-bottom: 1px solid #fff4eb;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  font-size: 0.8rem;
  border: none;
  margin: 0;
  padding: 0;
}
.inverse-small-button:hover {
  background: transparent;
  color: #d6c2c8;
  border-color: #d6c2c8;
}
.inverse-button.icon {
  border: none;
  cursor: pointer;
}
.icon-unsaved::before {
  content: "";
  height: 0.8rem;
  border-radius: 100%;
  background: #eff5ff;
}
.icon-unsaved:hover::before {
  background: #7be8c0;
}
.inverse-button.warning-button:hover,
.inverse-small-button.warning-button:hover {
  background: transparent;
  color: #ff4466;
  border-color: #ff4466;
}
.inverse-button.success-button:hover,
.inverse-small-button.success-button:hover {
  background: transparent;
  color: #7be8c0;
  border-color: #7be8c0;
}
.tag {
  font-size: 0.8rem;
  font-weight: bolder;
  height: 1.3rem;
  color: #020817 !important;
  background: #fff4eb;
  border-radius: 0.125rem;
  padding: 0.125rem 0.25rem;
  border-left: 0.25rem solid #7be8c0;
}
.tag.green {
  border-left: 0.25rem solid #7be8c0;
}
.tag.yellow {
  border-left: 0.25rem solid #e6c46e;
}
.tag.red {
  border-left: 0.25rem solid #ff4466;
}
.tag.big {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  height: 2.3rem;
  background: #fff4eb;
  border-radius: 0.125rem;
  border-left: 0.25rem solid #7be8c0;
}
.asterisk {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: normal;
}
.success {
  color: #7be8c0;
}
.attention {
  color: #e6c46e;
}
.error {
  color: #ff4466;
}
.block {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.block h4 {
  margin-bottom: 0.25rem;
}
.big-block {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.big-block h4 {
  margin-bottom: 0.25rem;
}
.mini-block {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}
.thin-block {
  width: 15rem;
}
.indent {
  margin-left: 1rem;
}
.thin-indent {
  margin-left: 0.5rem;
}
.icon svg {
  min-height: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  width: 1.5rem;
}
.icon svg.common,
.icon svg.common * {
  fill: #000;
}
.icon svg.uncommon,
.icon svg.uncommon * {
  fill: #879795;
  stroke: 1px;
}
.icon svg.rare,
.icon svg.rare * {
  fill: #b9974e;
  stroke: 1px;
}
.icon svg.mythic,
.icon svg.mythic * {
  fill: #f34800;
  stroke: 1px;
}
.clicky-icon {
  cursor: pointer;
  transition: 0.2s;
  fill: #fff4eb;
  color: #fff4eb;
}
.clicky-icon:hover {
  transform: scale(1.1);
  fill: #e6c46e;
  color: #e6c46e;
}
.icon-empty {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid #fff4eb;
  background: transparent;
  border-radius: 0.25rem;
}
.sticky {
  position: fixed;
  top: 2.5rem;
  z-index: 1;
}
.fill .max,
.max {
  flex-grow: 1;
}
.fill .min,
.min {
  flex-shrink: 1;
}
.bar {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-flow: column nowrap;
  flex-wrap: wrap;
}
.col-2 {
  column-count: 2;
  break-inside: avoid;
}
.col-3 {
  column-count: 3;
  break-inside: avoid;
}
.col-4 {
  column-count: 4;
  break-inside: avoid;
}
.even {
  align-items: center;
}
.nowrap {
  flex-wrap: nowrap;
}
.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.text-block {
  max-width: 50rem;
}
.spread {
  justify-content: space-between;
}
.start {
  align-items: flex-start;
}
.end {
  align-items: flex-end;
}
.start-just {
  justify-content: flex-start;
}
.end-just {
  justify-content: flex-end;
}
.full-width {
  width: 100%;
}
.fill > * {
  flex: 1 0 1%;
}
.spaced-bar > * {
  margin-right: 1.5rem;
}
.spaced-bar > *:last-child {
  margin-right: 0;
}
.mini-spaced-bar > * {
  margin-right: 0.5rem;
}
.mini-spaced-bar > *:last-child {
  margin-right: 0;
}
.spaced-col > * {
  margin-bottom: 1.5rem;
}
.spaced-col > *:last-child {
  margin-bottom: 0;
}
.mini-spaced-col > * {
  margin-bottom: 0.5rem;
}
.mini-spaced-col > *:last-child {
  margin-bottom: 0;
}
.spaced-grid > * {
  margin-right: 1.5rem;
}
.spaced-grid > *:last-child {
  margin-right: 0;
}
.spaced-grid > * {
  margin-bottom: 1.5rem;
}
.spaced-grid > *:last-child {
  margin-bottom: 0;
}
.mini-spaced-grid > * {
  margin-right: 0.5rem;
}
.mini-spaced-grid > *:last-child {
  margin-right: 0;
}
.mini-spaced-grid > * {
  margin-bottom: 0.5rem;
}
.mini-spaced-grid > *:last-child {
  margin-bottom: 0;
}
.pad {
  padding: 1rem;
}
.thin-pad {
  padding: 0.5rem;
}
.thinner-pad {
  padding: 0.25rem;
}
.thinnest-pad {
  padding: 0.125rem;
}
.light-text {
  color: #eff5ff;
}
.dark-text {
  color: #020817;
  text-shadow: none;
}
.break {
  word-break: break-all;
}
* {
  box-sizing: border-box !important;
  max-width: 100%;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}
h1,
h2 {
  font-family: "Beleren";
}
h3,
h4,
h5,
h6 {
  font-family: "Arimo";
}
a {
  color: #eff5ff;
}
input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
textarea {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  height: auto;
  border-radius: 0.125rem;
  padding: 0.5rem;
  margin: 0;
  transition: 0;
  resize: none;
}
button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 120%;
  font-family: "MTG-head";
  cursor: pointer;
  background: #fff4eb;
  font-weight: bold;
}
button:hover {
  background: #d6c2c8;
}
@keyframes slide-in-out-top {
  0% {
    opacity: 0;
    margin-top: -5rem;
    display: flex;
  }
  10% {
    opacity: 1;
    margin-top: 0;
  }
  80% {
    opacity: 1;
    margin-top: 0;
  }
  99% {
    opacity: 0;
    margin-top: -5rem;
    display: flex;
  }
  100% {
    opacity: 0;
    margin-top: -5rem;
    display: none;
  }
}
@keyframes slide-in {
  from {
    margin-left: -7.14rem;
  }
  to {
    margin-left: 0;
  }
}
.flip-in {
  animation-name: flip-in;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
@keyframes flip-in {
  from {
    transform: perspective(20rem) rotateY(85deg) translateX(7.14rem) scale(1.5);
  }
  to {
    transform: none;
  }
}
.disabled {
  filter: opacity(0.4);
  pointer-events: none;
}
.green {
  color: #7be8c0;
}
.yellow {
  color: #e6c46e;
}
.red {
  color: #ff4466;
}
@keyframes flash-in {
  0% {
    background: #e6c46e;
    color: transparent;
  }
  30% {
    color: initial;
  }
  100% {
    background: initial;
    color: initial;
  }
}
@keyframes waver {
  to {
    opacity: 0.5;
  }
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
html {
  font-size: 90%;
  color: #eff5ff;
  background: #39323d;
  font-family: "Arimo";
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 120%;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 150%;
  }
}
@media screen and (min-width: 3840px) {
  html {
    font-size: 250%;
  }
}
.wrapper {
  padding-top: 2.5rem;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
}
.wrapper > * {
  height: 100%;
}
.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  height: calc(100vh - 2.5rem);
  top: 2.5rem;
  z-index: -2;
}
.bg-img .playmat {
  width: 100%;
  height: 100%;
  background-color: #39323d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img .grad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(45deg, rgba(78, 67, 82, 0.5), #020817);
}
.bg-img .darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.main-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  z-index: 150;
  justify-content: space-between;
  background: #020817;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 120%;
  font-family: "Beleren";
}
.main-header * {
  white-space: nowrap;
  flex-wrap: nowrap;
}
.main-header .title .icon .logo {
  width: 8rem;
}
.main-header .title .icon .logo path {
  fill: #eff5ff;
}
.main-header .title:hover .icon .logo path {
  fill: #e6c46e;
}
.main-header .custom-select {
  background: transparent;
}
.main-header .custom-select:hover .select-collapsed {
  filter: brightness(0.8);
  cursor: text;
}
.main-header .custom-select .select-collapsed {
  color: #d6c2c8;
  padding: 0.5rem;
  font-size: 1rem;
}
.main-header .custom-select .option a {
  font-size: 1rem;
  color: #4e4352;
}
.main-header .nav-search-bar {
  max-width: 50%;
}
.notifications {
  position: fixed;
  top: 1rem;
  left: 25%;
  width: 50%;
  z-index: 5555;
  pointer-events: none;
}
.notifications .notification {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0.125rem;
  background: #eff5ff;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  color: #020817;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.8);
  animation: slide-in-out-top 5s ease forwards;
}
.notifications .notification .icon {
  font-size: 2rem;
}
.notifications .info {
  background: #fff4eb;
}
.notifications .warning {
  background: #e6c46e;
}
.notifications .error {
  background: #ff4466;
}
.notifications .success {
  background: #7be8c0;
}
.loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff4eb;
}
.loading .main-msg {
  display: flex;
  flex-flow: row nowrap;
  font-size: 4rem;
  animation-name: waver;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.loading .main-msg .spinner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.loading .sub-msg {
  font-size: 1.5rem;
}
.tab-switch .tab {
  text-align: center;
  transition: 0.2s;
  padding: 0.5rem;
  flex-grow: 1;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}
.tab-switch .tab:last-child {
  border-right: none;
}
.tab-switch .tab:hover {
  color: #e6c46e;
  cursor: pointer;
  border-bottom: 1px solid #e6c46e;
}
.tab-switch .tab .warning-button {
  border: none;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
.tab-switch .tab.selected {
  background: linear-gradient(transparent, rgba(230, 196, 110, 0.5));
  border-bottom: 1px solid #eff5ff;
}
.spinner {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.drop-slot {
  position: relative;
  margin: 0;
  transition: 0.2s;
}
.drop-slot.over {
  background-color: rgba(230, 196, 110, 0.4);
  border-radius: 0.5rem;
}
.drop-slot.list {
  display: flex;
}
.custom-select {
  width: 10rem;
  height: 2rem;
  margin: 0.125rem;
  border-radius: 0.125rem;
  background: #eff5ff;
  cursor: pointer;
}
.custom-select .set-symbol {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}
.custom-select input {
  box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.5);
  margin: 0;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0;
  width: 100%;
}
.select-collapsed {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #020817;
}
.options {
  position: absolute;
  z-index: 30;
  width: 10rem;
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: #020817;
  background: #eff5ff;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
.options .option {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.options .option:hover {
  background: #e6c46e;
}
.options .option.selected {
  background: #e6c46e;
}
.options .search-cards {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
}
.options .search-cards .card-head {
  background: transparent !important;
}
.custom-select.searchable .select-collapsed {
  box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.3);
}
.custom-select.searchable .select-collapsed:hover {
  cursor: text;
  color: #4e4352;
}
.nav .quick-search {
  color: #d6c2c8;
  background: #4e4352;
}
.nav .quick-search .select-collapsed:hover {
  color: #d6c2c8;
}
.quick-search {
  flex: 1 0 50%;
  border-radius: 0.5rem;
}
.quick-search .custom-select {
  flex: 0 0 100%;
  margin: 0;
  width: auto;
  border-radius: 0.25rem;
  font-size: 1.2rem;
}
.quick-search .custom-select .options {
  max-height: 25rem;
  width: 100%;
  max-width: 44rem;
  background: #fff4eb;
  color: #020817;
}
.quick-search .custom-select .options input {
  width: 44rem;
  font-size: 1.5rem;
}
.quick-search .custom-select .options .option {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}
.quick-search .custom-select .options .option .card-container {
  width: 100%;
}
.quick-search .custom-select .options .option .mini-icon {
  width: 7rem;
}
.quick-search .custom-select .options .option .card-text,
.quick-search .custom-select .options .option .col {
  width: 100%;
  margin: 0;
  background: transparent;
}
.quick-search .custom-select .options .option:hover .col {
  background: transparent;
}
.quick-search .custom-select .options .option .name {
  font-size: 1.5rem;
}
.quick-search .custom-select .options .option .types {
  font-size: 1rem;
}
.card-search .quick-search .custom-select {
  color: #fff4eb;
  background: rgba(0, 0, 0, 0.5);
}
.card-search .quick-search .custom-select .select-collapsed {
  color: #fff4eb;
}
.card-search .quick-search .custom-select .select-collapsed:hover {
  color: #d6c2c8;
}
.custom-select.small {
  width: 3rem;
  min-height: 1.5rem;
}
.custom-select.small .select-collapsed {
  padding: 0.125rem;
}
.custom-select.small .options {
  width: 3rem;
  height: auto;
}
.custom-select.small .options input {
  padding: 0.125rem;
}
.basic-search .drop-slot {
  margin: 0;
}
.basic-search .search-bar {
  flex-flow: row-reverse;
}
.basic-search .search-bar input {
  width: 100%;
  font-size: 1.2rem;
  padding: 1.5rem 1rem;
}
.basic-search .search-bar .exit {
  position: absolute;
  z-index: 2;
}
.basic-search .results {
  transition: 0.4s;
  position: absolute;
  z-index: 1;
  max-height: 25rem;
  overflow-y: auto;
  background: #fff4eb;
  width: auto;
  padding: 0.25rem 0.5rem;
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: #020817;
}
.footer > * {
  margin-right: 1rem;
}
.footer .inverse-button {
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.hamburger-cont .toggle {
  cursor: pointer;
}
.hamburger-cont .toggle:hover {
  filter: brightness(0.7);
}
.hamburger-cont .inner {
  display: flex;
  flex-flow: column nowrap;
  min-width: 12rem;
  padding: 0.25rem;
  position: absolute;
  background: #4e4352;
  opacity: 1;
  transform: scale(1);
}
.hamburger-cont .inner > * {
  width: 100%;
}
.hamburger-cont .inner:not(.open) {
  opacity: 0;
  transform: scale(0);
  padding: 0;
}
.user-button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: #eff5ff;
  color: #020817;
  transition: 0.2s;
  height: 2rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 120%;
  font-family: "MTG-head";
  cursor: pointer;
  background: #fff4eb;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  width: auto;
  font-weight: bold;
  padding: 0.125rem;
  margin: 0.125rem;
  color: #fff4eb;
  border-bottom: 1px solid #fff4eb;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  height: auto;
  margin: 0;
}
.user-button:hover {
  background: #d6c2c8;
}
.user-button:hover {
  background: transparent;
  color: #d6c2c8;
  border-color: #d6c2c8;
}
.tool-tip {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  transform-origin: 0% 0%;
  transition: opacity 0.3s;
  pointer-events: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.tool-tip.message {
  background: #eff5ff;
  color: #020817;
  padding: 0.5rem;
  max-width: 15rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-top: -2rem;
}
.tool-tip.hover-card {
  background: black;
  color: #eff5ff;
  transition: opacity 0.3s;
  margin-top: -10rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  width: 14.28rem;
}
.tool-tip.hover-card img {
  border-radius: 1rem;
  height: 20rem;
}
.tool-tip.hover-card .prices {
  padding: 0.25rem;
}
.tool-tip-container:hover .tool-tip {
  opacity: 1;
  transition-delay: 1s;
}
.tool-tip-container:hover .tool-tip.hover-card {
  opacity: 1;
  transition-delay: 1s;
}
.context-menu {
  position: fixed;
  z-index: 1010;
  transform-origin: 0% 0%;
  padding: 0.5rem;
  background: #39323d;
  color: #fff4eb;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
.context-menu .context-option {
  padding: 0.25rem;
  cursor: pointer;
}
.context-menu .context-option:hover {
  color: #e6c46e;
}
.section {
  margin: 1rem auto;
  width: 46rem;
  padding: 1rem;
  background: #39323d;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.section p {
  max-width: 25rem;
}
.section.sec-html {
  background: #eff5ff;
}
.section.fill {
  margin: 1rem 0;
  width: 100%;
}
.point {
  cursor: pointer;
}
.dash .hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  flex-direction: column;
  position: relative;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
}
.dash .hero .banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 1rem;
}
.dash .hero .banner .title svg {
  width: 25rem;
  height: 8rem;
}
.dash .hero .banner .title svg path {
  fill: #eff5ff;
  transition: 0.2s;
}
.dash .hero .banner .title svg path:hover {
  fill: #e6c46e;
  cursor: pointer;
  transform: translateY(-0.5rem);
}
.dash .hero .play-title {
  width: 30rem;
  justify-content: start;
}
.dash .hero .play-title .letter {
  width: 3.75rem;
  height: 5.25rem;
  background: #eff5ff;
  color: #020817;
  border-radius: 0.25rem;
  transition: all 0.2s;
  font-size: 3rem;
  opacity: 0;
  margin-top: 0;
  transition: 0s;
}
.dash .hero .play-title .letter.anim {
  transition: 0.3s;
  opacity: 1;
  animation-name: flip-in;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.dash .hero .play-title .letter.anim:hover {
  cursor: pointer;
  background: #e6c46e;
}
.dash .hero .play-title .letter.spent {
  transition: all 0.5s 0s, width 0.2s 0.4s;
  opacity: 0;
  pointer-events: none;
  width: 0;
  margin: -5rem 0 0;
}
.dash .hero .log-in-form {
  padding-top: 1rem;
}
.dash .hero .log-in-form .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: "Beleren";
}
.dash .hero .log-in-form .log-out {
  font-size: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.dash .hero .log-in-form .log-out button {
  margin-left: 1rem;
}
.dash .hero .log-in-form .in-form,
.dash .hero .log-in-form .up-form {
  width: 16rem;
  transition: transform 0.2s;
  transform-origin: 0 0;
}
.dash .hero .log-in-form .in-form *,
.dash .hero .log-in-form .up-form * {
  width: 100%;
}
.dash .hero .log-in-form .in-form .field,
.dash .hero .log-in-form .up-form .field {
  margin-top: 1rem;
}
.dash .hero .log-in-form .in-form.hide,
.dash .hero .log-in-form .up-form.hide {
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  transform: scale(0);
}
.new-deck {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  height: auto;
}
.decks {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
}
.decks .deck-tile {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 18rem;
  height: 22rem;
  flex-shrink: 1;
  background: #4e4352;
  border-radius: 0.25rem;
}
.decks .deck-tile .flex-row {
  height: 12rem;
}
.decks .deck-tile .flex-row:hover .feature {
  filter: brightness(0.6);
}
.decks .deck-tile .pie {
  position: absolute;
  z-index: 20;
  margin: -12.5rem 0 0 -0.5rem;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}
.decks .deck-tile .pie svg {
  height: 3.5rem;
  width: 3.5rem;
}
.decks .deck-tile .feature {
  object-fit: cover;
  width: 18rem;
  height: 12rem;
}
.decks .deck-tile .play-button {
  position: absolute;
  z-index: 100;
  border-radius: 0;
  margin: 0 0 0 15rem;
}
.decks .deck-tile .play-button button {
  background: linear-gradient(90deg, transparent, #020817);
  color: #eff5ff;
  box-shadow: none;
  height: 12rem;
  width: 3rem;
  margin: 0;
}
.decks .deck-tile .play-button:hover button {
  color: #e6c46e;
}
.decks .deck-tile .new-button {
  height: 22rem;
  margin: 0;
}
.decks .deck-tile .info {
  padding: 0.5rem;
  height: 10rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
.decks .deck-tile .info .tag {
  margin-top: 0.25rem;
}
.decks .deck-tile .info .updated-at {
  font-style: italic;
  margin-top: 0.25rem;
}
.decks .deck-tile .links {
  display: flex;
  flex-flow: column nowrap;
  width: 3rem;
}
.decks .deck-tile .links * {
  width: 100%;
  font-size: 1.1rem;
  height: 100%;
}
.feature-full img,
.feature-full button {
  width: 18rem;
  height: 12rem;
  background-color: #fff4eb;
  object-fit: cover;
}
.feature-full .change-img {
  position: absolute;
  z-index: 1;
  width: 18rem;
  height: 12rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
}
.feature-full:hover .change-img {
  opacity: 1;
}
.dash-buttons .dash-button {
  width: 10rem;
  height: 14rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  border: 1px solid #eff5ff;
  font-size: 2rem;
  text-align: center;
}
.dash-buttons .dash-button .icon svg {
  width: auto;
  height: 5rem;
}
.dash-buttons .dash-button:hover {
  border-color: #e6c46e;
  color: #e6c46e;
  cursor: pointer;
}
.dash-buttons .dash-button:hover .icon svg path {
  fill: #e6c46e;
}
.user {
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
}
.user .profile {
  padding: 1rem 0 0.5rem;
}
.user .profile .avatar {
  font-size: 3rem;
}
.deck-details {
  display: flex;
  flex-flow: row nowrap;
}
.deck-details .sidebar {
  width: 24rem;
  min-width: 24rem;
}
.deck-details .main {
  width: 100%;
}
.stats {
  background: #39323d;
  padding: 0.5rem;
}
.stats .price-stats .total {
  margin: 0.5rem;
  font-family: "Arimo";
  font-weight: bolder;
}
.stats .price-stats .total h3 {
  margin-bottom: 0.25rem;
}
.stats .stat {
  margin-top: 2rem;
}
.stats .stat h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.stats .stat .pie-graph {
  max-width: 16.5rem;
}
.stats .stat .bar-graph {
  max-width: 16.5rem;
  display: flex;
  flex-flow: column nowrap;
}
.stats .stat .bar-graph .bar {
  color: #eff5ff;
  border-radius: 0.125rem;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}
.deck-nav {
  background: #020817;
  height: 8rem;
  margin-bottom: 2rem;
  box-shadow: 1rem solid #020817;
  padding-left: 0.5rem;
}
.deck-nav .title {
  width: 20rem;
  height: 8rem;
}
.deck-nav .title .grad,
.deck-nav .title .splash,
.deck-nav .title .icon {
  width: 20rem;
  height: 8rem;
  position: absolute;
}
.deck-nav .title .icon {
  width: 24rem;
}
.deck-nav .title .splash {
  margin-left: 4rem;
}
.deck-nav .title .splash .grad {
  background: linear-gradient(90deg, #020817, transparent);
}
.deck-nav .title svg {
  width: 4rem;
  height: 4rem;
}
.deck-nav .title h1,
.deck-nav .title h4 {
  filter: drop-shadow(0 0 0.25rem #020817);
}
.deck-nav .play-button {
  margin-left: 2.5rem;
  z-index: 100;
}
.deck-nav .play-button button {
  height: 8rem;
  margin: 0;
  border-radius: 0;
}
.add-search {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: flex-start;
  width: 100%;
  height: 8rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #fff4eb;
}
.side-bar {
  width: 21rem;
  min-width: 21rem;
}
.card-tuner {
  border-radius: 1rem 1rem 0 0;
  background: #020817;
}
.card-tuner .tune-card .card-img {
  border-radius: 1rem;
  height: auto;
}
.list-head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  height: 3rem;
  background: rgba(0, 0, 0, 0.5);
}
.list-head .view-options {
  display: flex;
  flex-flow: row nowrap;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.list-head .board-labels {
  display: flex;
  flex-flow: row nowrap;
}
.list-head .board-labels .board-label {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.list-head .board-labels .board-label .drop-slot {
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.list-head .board-labels .board-label:hover {
  opacity: 0.8;
}
.list-head .active .drop-slot {
  text-decoration: underline;
  background: linear-gradient(#e6c46e, transparent);
}
.board {
  color: #020817;
}
.board .label {
  color: #eff5ff;
}
.board .board-inner.grid {
  column-count: 2;
}
.board .board-inner.list {
  column-count: 3;
}
.board .board-inner.text {
  column-count: 4;
}
.manage-list {
  background: #39323d;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.board-inner {
  column-count: 1;
  overflow-y: auto;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
}
.board-inner .list h2 {
  font-size: 1.3rem;
  width: 100%;
}
.board-inner .list h2 .icon {
  color: #eff5ff;
  fill: #eff5ff;
  background: transparent;
}
.board-inner .list h2 .custom-input {
  width: 7rem;
  color: #020817;
}
.board-inner .list {
  break-inside: avoid-column;
  page-break-inside: avoid;
  display: inline-block;
}
.board-inner .list-view {
  flex: 1 0 20%;
}
.board-inner .list-inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0.5rem 0 0;
}
.board-inner .list-inner .card-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  border-top: 0.125rem solid #020817;
}
.board-inner .list-inner .card-container:last-child {
  border-top: none;
}
.board-inner .list-inner .card-container .card-controls {
  display: flex;
  flex-flow: row nowrap;
}
.board-inner .list-inner .illegal .card-head .col {
  background: #ff4466;
}
.board-inner .grid-view {
  flex: 1 0 20%;
  min-width: calc(7.14rem*2 + 1rem);
}
.board-inner .grid-inner {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
}
.board-inner .grid-inner .quant-tickers {
  position: absolute;
  z-index: 20;
  transform: scale(1.3);
  background: #39323d;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: -1rem;
  display: none;
}
.board-inner .grid-inner .of-name:hover .quant-tickers {
  display: block;
}
.board-inner .grid-inner .card-container {
  display: flex;
  flex-flow: column nowrap;
}
.board-inner .grid-inner .text-inner {
  margin-left: 0.5rem;
}
.board-inner .grid-inner .illegal .fullImg {
  box-shadow: 0 0 1rem #ff4466 !important;
}
.board-inner .grid-inner .quant {
  color: #eff5ff;
  font-size: 1.2rem;
}
.board-inner .selected {
  background: transparent;
}
.board-inner .selected .card-text {
  color: #e6c46e;
}
.board-inner .selected .card-head .col {
  background: #e6c46e;
}
.board-inner .selected .card-img {
  box-shadow: 0 0 0.25rem #e6c46e;
  transform: scale(1.2);
}
@media screen and (max-width: 1000px) {
  .builder {
    display: flex;
    flex-flow: column nowrap;
  }
  .builder .deck-area {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
  }
  .builder .side-bar {
    width: 100%;
    background: #39323d;
  }
  .board .board-inner.grid {
    column-count: 1;
  }
  .board .board-inner.list {
    column-count: 2;
  }
  .board .board-inner.text {
    column-count: 3;
  }
}
@media screen and (max-width: 750px) {
  .builder .deck-head {
    flex-flow: column;
  }
  .board .board-inner.list {
    column-count: 1;
  }
  .board .board-inner.text {
    column-count: 2;
  }
}
.card-page {
  display: flex;
  width: 100%;
}
.card-page .main {
  max-width: 46rem;
}
.card-page .result-card .add-button {
  margin-top: -10rem;
  position: absolute;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.2s;
}
.card-page .result-card:hover .add-button {
  opacity: 1;
}
.card-page .result-card.big {
  max-width: 15rem;
  margin-right: 0.25rem;
}
.card-page .result-card.big .add-button {
  height: auto;
  max-height: auto;
  font-size: 2rem;
  padding: 0.5rem;
  margin-top: -20rem;
  margin-left: 10rem;
}
.card-page .advanced-search .refine {
  width: 100%;
  border-radius: 0.5rem;
}
.card-page .advanced-search .advanced-field {
  border-radius: 0.5rem;
}
.card-page .advanced-search .advanced-field .pages {
  width: 18rem;
  justify-content: space-between;
}
.card-page .advanced-search .mana-button {
  padding: 0.125rem;
  border-radius: 0.125rem;
  margin-right: 0.25rem;
}
.card-page .advanced-search .mana-button:last-child {
  margin-right: 0;
}
.card-page .advanced-search .mana-button:hover {
  cursor: pointer;
}
.card-page .advanced-button {
  margin: 0;
  height: 3rem;
  width: 7rem;
}
.card-page .card-search {
  width: 46rem;
  padding: 1rem;
  background: #39323d;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.card-page .card-search p {
  max-width: 25rem;
}
.filters {
  background: rgba(0, 0, 0, 0.5);
}
.quant-tickers .button {
  color: #fff4eb;
}
.quant-tickers .button:first-child {
  border-bottom: 1px solid #d6c2c8;
}
.quant-tickers .button:hover {
  cursor: pointer;
  color: #d6c2c8;
}
.cart {
  position: fixed;
  z-index: 10;
  top: 2.5rem;
  right: 0;
  width: 10rem;
  transition: 0.3s;
  max-height: calc(100vh - 2.5rem);
}
.cart > * {
  transition: opacity 0.3s;
}
.cart.open {
  width: 22rem;
  height: calc(100vh - 2.5rem);
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
}
.cart.open .cart-head {
  position: fixed;
  z-index: 20;
  width: 22rem;
  background: #4e4352;
}
.cart.open .sub-cart-head {
  margin-top: 10rem;
  height: calc(100vh - 2.5rem - 10rem);
}
.more-less {
  background: linear-gradient(transparent, #4e4352);
  border-radius: 0.5rem;
}
.more-less .more-less-button {
  background: transparent;
  box-shadow: none;
  color: #d6c2c8;
}
.more-less .more-less-button:hover {
  color: #fff4eb;
}
.new-deck-page .list-inner {
  max-height: 50vh;
  overflow-y: auto;
}
.new-deck-page .feature-full {
  background-color: #020817;
}
.new-deck-page .feature-full img {
  background-color: transparent;
}
.card-container {
  transition: 0.2s;
  transform-origin: 50% 100%;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-play-state: forwards;
}
.card-container .card-text {
  color: #fff4eb;
  margin-bottom: 0.25rem;
}
.card-container .card-text:hover {
  cursor: pointer;
  color: rgba(230, 196, 110, 0.8);
  text-decoration: underline;
}
.card-container .card-text .name {
  font-family: "Arimo";
  font-size: 1rem;
}
.card-container .card-head {
  display: flex;
  flex-flow: row nowrap;
  color: #020817;
  text-align: left;
}
.card-container .card-head .mini-icon {
  height: 100%;
  width: 3.5rem;
}
.card-container .card-head .col {
  background: rgba(239, 245, 255, 0.8);
  padding: 0.25rem;
  width: 15rem;
}
.card-container .card-head .top-line {
  justify-content: space-between;
}
.card-container .card-head .top-line h4 {
  font-family: "Beleren";
}
.card-container .card-head .top-line h4 .quant {
  margin-right: 0.25rem;
}
.card-container .card-head .top-line h4 .name {
  font-size: 0.8rem;
}
.card-container .card-head:hover {
  cursor: pointer;
}
.card-container .card-head:hover .col {
  background: rgba(230, 196, 110, 0.8);
}
.card-container .card-head .types {
  font-size: 0.6rem;
  font-family: "Arimo";
}
.card-container .card-head .types .ms {
  height: 1rem;
  width: 1rem;
}
.card-container .card-head .types .ms:before {
  font-size: 0.8rem;
}
.card-container .card-head .prices {
  padding: 0.25rem;
}
.card-container .card-img img,
.card-container .card-img .loading {
  transition: 0.2s;
  object-fit: cover;
  min-width: 7.14rem;
  width: 7.14rem;
  min-height: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
}
.card-container .card-img img:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem #e6c46e;
}
.search-result .card-img img,
.search-result .card-img .loading {
  width: calc(7.14rem*2);
  min-width: calc(7.14rem*2);
  height: calc(10rem*2);
  border-radius: 1rem;
}
.grid-view .prices {
  color: #eff5ff;
}
.ms-hide {
  height: 0;
  width: 0;
  transform: scale(0);
  opacity: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.modal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition: 0.5s;
}
.modal-cont .exit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.2s;
}
.modal-cont .exit:hover {
  background: rgba(0, 0, 0, 0.7);
}
.modal-cont .exit:hover .icon {
  color: #ff4466;
}
.modal-cont .exit .icon {
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  left: 1rem;
  z-index: 100;
  transition: 0.2s;
}
.modal-cont .modal-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-out;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: auto;
}
.modal-cont .modal-box .modal-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  background: #020817;
}
.modal-cont .modal-box .modal-content {
  padding: 0.5rem;
}
.modal-cont .modal-box .choose-print {
  min-width: calc(7.14rem*2);
  max-width: 60rem;
}
.modal-cont .modal-box .choose-print .options {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin-top: 1rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-cont .modal-box .choose-print .options .print-select-card {
  margin-bottom: 1rem;
  width: 7.14rem;
  margin-right: 0.5rem;
}
.modal-cont .modal-box .choose-print .options .print-select-card h4 {
  height: 2rem;
  margin-bottom: 0.5rem;
}
.modal-cont .info {
  color: #eff5ff;
  max-width: 60rem;
}
.modal-cont .info .themes {
  margin: 1rem 0;
}
.modal-cont .info .themes h4 {
  margin-bottom: 0.5rem;
}
.modal-cont .info .themes .inner {
  max-width: 100%;
  padding: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-flow: row nowrap;
}
.modal-cont .info .themes .inner .sleeves,
.modal-cont .info .themes .inner .playmat {
  object-fit: cover;
  margin-right: 0.5rem;
  height: 10rem;
  width: 14rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.modal-cont .info .themes .inner .sleeves:hover,
.modal-cont .info .themes .inner .playmat:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.5rem #e6c46e;
}
.modal-cont .info .themes .inner .sleeves {
  max-width: 7.14rem;
}
.modal-cont .info .themes .inner .selected {
  box-shadow: 0 0 1rem #e6c46e;
}
.inspect-container {
  width: 100%;
  min-height: 100vh;
}
.inspect-container .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 2rem;
  margin-bottom: 1rem;
}
.inspect-container .content {
  max-width: 47rem;
  justify-content: center;
}
.inspect-container .content .big-image {
  object-fit: cover;
  height: 30.1rem;
  width: 21.5rem;
  border-radius: 1rem;
  background: #020817;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}
.inspect-container .content .text {
  display: flex;
  flex-flow: column nowrap;
  color: #eff5ff;
  width: 21.5rem;
  min-width: 21.5rem;
}
.inspect-container .content .text .details > * {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.inspect-container .content .text .details > *:last-child {
  border-bottom: none;
}
.inspect-container .content .text .details h2 {
  font-size: 1.3em;
  padding-bottom: 1rem;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
.inspect-container .content .text .details p {
  font-size: 0.9em;
  line-height: 1.2em;
  padding-bottom: 0.5rem;
}
.inspect-container .content .text .details .cmc {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
.inspect-container .content .rulings {
  height: 100%;
  border-radius: 0.5rem;
  color: #020817;
  background: #fff4eb;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0);
  padding: 1rem;
  margin-top: 0.5rem;
}
.inspect-container .content .rulings .ruling {
  margin-bottom: 2rem;
}
.inspect-container .content .rulings .ruling h4 {
  color: #39323d;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.inspect-container .content .similar,
.inspect-container .content .sets {
  max-width: 21.5rem;
}
.hide-modal {
  opacity: 0;
  pointer-events: none;
}
.hide-modal .modal-box {
  transform: scale(0);
  padding: 0;
}
.new-deck {
  margin: 1rem auto;
  max-width: 60rem;
}
.settings {
  background: #39323d;
  max-width: 46rem;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
}
.tester {
  overflow: hidden;
  margin-top: 3rem;
  min-height: calc(100vh - 3rem - 2.5rem);
}
.tester .zone {
  min-width: 7.14rem;
}
.tester .zone .title {
  font-family: "MTG-head";
  color: #fff4eb;
  padding: 0.125rem;
}
.tester .zone .title .custom-select {
  background: transparent;
  height: 1rem;
}
.tester .zone .title .custom-select .select-collapsed {
  color: #fff4eb;
  box-shadow: none;
  padding: 0;
}
.tester .zone .row {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
}
.tester .zone .row .card-container .card-img {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.tester .zone .row .card-container .card-controls > * {
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 20;
}
.tester .zone .row .card-container:hover .card-controls > *,
.tester .zone .row .card-container .card-controls:hover .card-controls > *:hover {
  opacity: 1;
  pointer-events: all;
}
.tester .zone .row .card-container .mana-source {
  display: flex;
  flex-flow: row nowrap;
  color: #020817;
  max-width: 7.14rem;
  text-shadow: 0 0 1rem #eff5ff;
  white-space: nowrap;
}
.tester .zone .row .card-container .mana-source .tap-for {
  cursor: pointer;
  transition: 0.1s;
  transform-origin: 50%;
}
.tester .zone .row .card-container .mana-source .tap-for:hover {
  transform: scale(1.2);
  color: #e6c46e;
}
.tester .zone .row .card-container .add-counters {
  top: calc(10rem - 4rem);
  z-index: 25;
}
.tester .zone .row .card-container .counters-display {
  top: 10rem;
  opacity: 1;
  pointer-events: all;
  color: #eff5ff;
  text-shadow: 0 0 1rem #020817;
}
.tester .test-controls {
  position: fixed;
  z-index: 2000;
  top: 2.5rem;
}
.tester .test-counters,
.tester .test-controls {
  background: #4e4352;
  width: 100%;
  padding: 0.5rem;
}
.tester .test-counters p,
.tester .test-controls p {
  font-family: "Beleren";
  margin-left: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.tester .test-counters .turn,
.tester .test-controls .turn {
  width: 10rem;
}
.tester .test-counters .counter .discrete-input,
.tester .test-controls .counter .discrete-input {
  height: 1.25rem;
}
.tester .test-counters .counter:hover *,
.tester .test-controls .counter:hover * {
  color: #e6c46e;
}
.tester .test-counters .mana-counters,
.tester .test-controls .mana-counters {
  display: flex;
  flex-flow: row nowrap;
}
.tester .test-counters .mana-counters .counter input,
.tester .test-controls .mana-counters .counter input {
  width: 1rem;
}
.tester .game-log {
  width: 20rem;
  background: rgba(0, 0, 0, 0.5);
  max-height: 15rem;
  overflow-y: auto;
  align-self: flex-start;
  border-radius: 0.25rem;
}
.tester .game-log .log {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem;
}
.tester .game-log .log:last-child {
  padding-bottom: 0;
}
.tester .game-log .log .timestamp {
  font-weight: bold;
}
.tester .game-log .log .action {
  font-style: italic;
}
.tester .game-log .log .arrow {
  text-decoration: underline;
  cursor: pointer;
}
.tester .game-log .log .arrow:hover {
  color: #ff4466;
}
.tester .game-log .log:hover {
  opacity: 1;
  cursor: pointer;
  background: rgba(200, 200, 0, 0.3);
}
.tester .game-log .inactive {
  opacity: 0.7;
}
.tester .game-log .pointer {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #e6c46e;
}
.tester .side-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: calc(7.14rem*3 + 1rem);
  padding: 0.25rem;
  background: #39323d;
}
.tester .side-col .library-cont {
  display: flex;
  flex-flow: column-reverse;
  width: 7.14rem;
}
.tester .library .card-container,
.tester .command .card-container,
.tester .graveyard .card-container,
.tester .exile .card-container {
  animation-name: slide-in;
}
.tester .player-row {
  width: calc(100vw);
}
.tester .player-row .hand {
  width: 100%;
  transition: 0.3s ease;
}
.tester .player-row .hand .row {
  height: calc(10rem);
  box-shadow: none;
  background: rgba(0, 0, 0, 0.6);
}
.tester .player-row .hand .row .drop-slot {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.125rem, max-content));
}
.tester .player-row .hand .row .drop-slot .card-container {
  animation-name: flip-in;
}
.tester .player-row .hand .row .drop-slot .card-container:hover {
  transform: scale(1.3) translateY(-1rem);
}
.tester .player-two-row {
  transform: rotate(180deg);
  transform-origin: center;
}
.tester .player-two-row * {
  transform-origin: center;
}
.tester .player-two-row .context-menu,
.tester .player-two-row .title,
.tester .player-two-row .test-counters,
.tester .player-two-row .tool-tip {
  transform: rotate(180deg);
}
.tester .battlefield {
  width: 100%;
}
.tester .battlefield .inner {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column-reverse;
}
.tester .battlefield .inner .row {
  flex-wrap: nowrap;
  height: 10rem;
}
.tester .battlefield .inner .row .drop-slot {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 7.14rem;
  min-width: 7.14rem;
}
.tester .battlefield .inner .row .card-container {
  animation-name: flip-in;
  animation-timing-function: ease;
  transform-origin: 100% 100%;
}
.tester .battlefield .bottom {
  height: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}
.tester .stack {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-flow: column-reverse;
  flex-wrap: nowrap;
  background: linear-gradient(90deg, #020817, transparent);
}
.tester .stack .item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  pointer-events: all;
  filter: drop-shadow(0 0 1rem #020817);
  margin: 1rem 0.5rem 0;
}
.tester .stack .item p {
  max-width: 15rem;
}
.tester .stack .item .header {
  font-weight: bolder;
  font-size: 1.1em;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eff5ff;
  margin-bottom: 0.5rem;
}
.tester .stack .item .body {
  font-style: italic;
  padding-bottom: 0.5rem;
}
