@font-face {
  font-family: 'MTG-para';
  src: url(../fonts/Magic - All/mplantin.ttf);
}
@font-face {
  font-family: 'MTG-head';
  src: url(../fonts/Magic - All/mplanti1.ttf);
}
.fontH {
  font-family: 'MTG-head';
  font-size: 0.8rem;
}
.fontP {
  font-family: 'MTG-para';
  font-size: 0.6rem;
}
.flexRow {
  display: flex;
  flex-flow: row nowrap;
}
.flexCol {
  display: flex;
  flex-flow: column nowrap;
}
.flexCenter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.fixedFullPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.bordered {
  border: 2px solid #020817;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}
html {
  font-size: 120%;
  overflow: hidden;
}
* {
  box-sizing: border-box !important;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.wrapper {
  font-family: 'MTG-para';
  color: #ebf1ff;
  background: #414f6b;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 1fr 17rem;
  grid-template-areas: 'sidebar play' 'library hand';
}
.testerHeader {
  font-size: 2rem;
  background: #020817;
  color: #ebf1ff;
}
.sideRow {
  grid-area: 'sidebar';
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.libraryContainer {
  grid-area: 'library';
}
.libraryContainer .library .card {
  margin: 0;
  transform: scale(0.9);
}
.zone {
  background: #1f283b;
}
.zone .inner {
  border: 0.125rem solid #020817;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
}
.zone .inner .line {
  flex: 1 0 100%;
  width: 100%;
  height: 0.125rem;
  margin: 0.5rem;
  background: #020817;
}
.zone .title {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'MTG-head';
  align-items: stretch;
  width: 100%;
  height: 2rem;
  background: #ebf1ff;
  color: #020817;
  padding: 0.25rem;
}
.zone .title h2 {
  font-size: 1.2rem;
  width: 100%;
}
.zone .title button,
.zone .title select {
  padding: 0.125rem;
}
.hand {
  grid-area: 'hand';
  background: #1f283b;
}
.hand .inner {
  width: calc(100% - 10rem);
  padding-left: 0.25rem;
  display: flex;
  flex-flow: row nowrap;
}
.hand .inner .cardContainer {
  overflow: hidden;
}
.hand .inner:last-child,
.hand .inner .cardContainer:hover {
  overflow: visible;
}
.grave,
.exile {
  width: 10rem;
}
.grave .card,
.exile .card {
  margin: 0;
  transform: scale(0.9);
}
.grave .card:nth-child(1),
.exile .card:nth-child(1) {
  opacity: 0.8;
}
.grave .card:nth-child(2),
.exile .card:nth-child(2) {
  opacity: 0.6;
}
.grave .card .header,
.exile .card .header {
  font-size: 0.6rem;
}
.play {
  grid-area: 'play';
  background: #414f6b;
  display: flex;
  flex-flow: column nowrap;
}
.play .inner {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.25rem;
}
.cardContainer {
  transition: 0.2s;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
}
.cardContainer .cardUI {
  opacity: 0;
  height: 3rem;
  background: #020817;
  color: #ebf1ff;
  position: absolute;
  padding: 0.5rem;
}
.cardContainer:hover .cardUI {
  opacity: 1;
}
.cardContainer:hover .cardUI * {
  cursor: pointer;
}
.card {
  transition: 0.2s;
  font-family: 'MTG-para';
  width: 10rem;
  height: 14rem;
  border: 0.5rem solid #020817;
  border-bottom: 1rem solid #020817;
  border-radius: 0.75rem;
  color: #020817;
  padding: 0.25rem;
  overflow: hidden;
  margin: 0.25rem 0.25rem 0 0;
  cursor: pointer;
  animation-name: cardEnter;
  animation-duration: 0.15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.card .fullImg {
  max-width: 10rem !important;
  max-height: 14rem !important;
}
.card:last-child {
  margin-right: 0;
}
.card:hover {
  box-shadow: 0 0 0.5rem #fcd303;
}
.card .clickEvents {
  cursor: pointer;
}
.card .front {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.card .front .types {
  border: 2px solid #020817;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  margin: 0.25rem 0;
  font-family: 'MTG-head';
  font-size: 0.6rem;
  text-align: left;
  padding-left: 0.25rem;
}
.card .front .body {
  border: 2px solid #020817;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  flex-grow: 1;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.6rem;
  padding: 0.25rem;
  text-align: left;
  overflow: hidden;
}
.card .front .body i,
.card .front .body .i,
.card .front .body .flavor {
  font-style: italic;
}
.card .front .footer {
  display: flex;
  justify-content: flex-end;
}
.card .front .footer .pt {
  border: 2px solid #020817;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  background: #ebf1ff;
  margin-top: -0.5rem;
  width: 2.5rem;
  align-self: flex-end;
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0.25rem;
}
.card .back {
  font-family: 'MTG-head';
  padding: 0.25rem;
  margin: 0.25rem;
  height: 100%;
  border: 1px solid #020817;
}
.card .back div {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  border: 0.125rem solid #236991;
  border-radius: 50%;
  background: #AA5234;
  text-align: center;
}
.card .back div h2 {
  margin-left: -0.5rem;
  font-size: 3rem;
  color: #70261D;
}
.card .back div h4 {
  color: #ebf1ff;
  align-self: right;
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 2px solid #020817;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: #020817;
  border-radius: 0.25rem;
  background: rgba(255, 255, 255, 0.7);
  width: 108%;
  margin: 0 0 0 -4%;
  padding: 0.125rem 0.25rem;
  font-family: 'MTG-head';
  font-size: 0.8rem;
  text-align: left;
  overflow: hidden;
}
.header .cost {
  white-space: nowrap;
}
.header .cost .ms {
  border-radius: 50%;
  padding: 1px;
  margin-left: 0.125rem;
  box-shadow: 0 0.125rem 0 #020817;
}
.header .cost .ms-w {
  background: #F8F9F4;
}
.header .cost .ms-u {
  background: #BAE8FC;
}
.header .cost .ms-b {
  background: #7C7E80;
}
.header .cost .ms-r {
  background: #ECBAA1;
}
.header .cost .ms-g {
  background: #B1DEAE;
}
.header .cost .ms-c,
.header .cost .ms-1,
.header .cost .ms-2,
.header .cost .ms-3,
.header .cost .ms-4,
.header .cost .ms-5,
.header .cost .ms-6,
.header .cost .ms-7,
.header .cost .ms-8,
.header .cost .ms-9,
.header .cost .ms-10 {
  background: #AEA399;
}
.faceDown {
  background: #4D310E !important;
  border-bottom: 0.5rem solid #020817;
  textAlign: center;
}
@keyframes cardEnter {
  from {
    opacity: 0;
    margin-left: -7rem;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
.modalCont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.modalCont .modalBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: #414f6b;
  height: 60vh;
  margin: 20vh auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.modalCont .modalBox img {
  height: 56vh;
  margin: 2vh 0;
}
.modalCont .modalBox .card {
  margin: 2rem;
  padding: 1rem;
  cursor: default;
}
.modalCont .modalBox .card:hover {
  box-shadow: none;
}
.modalCont .modalBox .card * {
  font-size: 1rem;
}
.modalCont .modalBox .card .header {
  width: 100%;
  margin-left: 0;
  padding: 0.25rem;
  font-size: 2rem;
}
.modalCont .modalBox .card .pt {
  font-size: 1.5rem;
}
.modalCont .modalBox .modalInfo {
  max-width: 25rem;
  align-self: flex-start;
  padding: 2vh 2rem;
}
.modalCont .modalBox .modalInfo h1 {
  margin-bottom: 1rem;
}
.modalCont .modalBox .modalOptions {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
}
.modalCont .modalBox .modalOptions * {
  margin: 0.5rem;
}
.modalCont .modalBox .modalOptions button {
  padding: 0.5rem;
}
.modalCont .modalBox .modalOptions button:hover {
  background: #fcd303;
}
.modalCont .exit {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
