// // IMPORTS

@import "library.less";
@import "main-styles.less";


// STYLES


.builder {
	.flex-row();
	.side-bar {
		width: 18rem;
		background: @dark;
		padding: @thin;
		.name {
			.flex-col();
			.name-entry {
				font-size: @big;
				padding: @thinner;
			}
		}
		.desc {
			font-family: @para;
			padding: @thinner;
			.desc-entry {
				width: 100%;
			}
		}
		.format {
			.commanders {
				.flex-row();
			}
		}
		.stats {

			.graph {
				color: @lightest;
				border-radius: @thinnest;
				padding: @thinner;
				margin-bottom: @thinner;
				white-space: nowrap;

			}
		}	
	}
		
	.deck-area {
		.flex-col();
		width: calc(100vw - 18rem);
		.add-search {
			.flex-row();
			align-self: center;
			justify-content: flex-start;
			width: 100%;
			height: 6rem;
			padding: @thin 1rem;
			border-bottom: 1px solid @lighter;
			.custom-select {
				.flex-col();
				height: 3.4rem;
				width: 15rem;
				.select-collapsed {
					font-size: 1.2rem;
					padding: 1rem;
					color: #888;
				}
			}
		}

		.list-head {
			.flex-row();
			justify-content: space-between;
			align-items: center;
			transition: .3s;
			.view-options {
				.flex-row();
			}
			.board-labels {
				.flex-row();
				.board-label {
					text-align: center;
					font-size: @big;
					cursor: pointer;
					.drop-slot {
						margin: 0;
						padding: @thin 1rem;
					}
					&:hover {opacity: .8;}
				}
			}
			.active {
				text-decoration: underline;
				color: @highlight;
			}
		}
		.sticky.list-head {
			background: @darker;
			left: 18rem;
			right: 0;
			z-index: 80;
			box-shadow: 0 0 1rem rgba(0,0,0,0.5);
		}

		.board {
			color: @darkest;
			h2 {
				cursor: pointer;
				color: @lightest;
			}
			.board-inner.grid {column-count: 2;}
			.board-inner.list {column-count: 3;}
		}
		.sticky + .board {
			padding-top: 3rem;
		}
	}
	
	.drop-slot {margin: @thin;}

	.board-inner {
		column-count: 1;
		min-height: @cardH;
		overflow-y: auto;
		padding: @thin;
		h3 {
			color: @lightest;
			font-size: 1.2rem;
			margin: 1rem 0 @thin;
			width: 100%;
			.icon {
				color: @lightest;
				fill: @lightest;
				background: transparent;
			}
			.custom-input {
				width: 7rem;
				color: @darkest;	
			}
		}

		.quantity {
			.flex-row();
			align-items: center;
			margin-right: @thin;
			height: 1.5rem;
			span {
				font-size: 1rem;
				cursor: pointer;
				color: @lightest;
				&:first-child:hover {color: @green;}
				&:last-child:hover {color: @red;} 
			}

		}
		.list {
			break-inside: avoid-column;
			page-break-inside: avoid;
			display: inline-block;
		}

		.list-view {
			flex: 1 0 20%;	
		}
		
		.list-inner {
			.flex-col();
			flex-direction: column-reverse;
			justify-content: flex-start;
			padding: @thin;
			.of-name {
				margin: 0 0 @thinner;
				background: linear-gradient(90deg, rgba(255,255,255,.25),transparent);
				border-radius: @thinner;
			}
			.card-container {
				.flex-row();
				justify-content: flex-start;
				width: 100%;


				.card-controls  {
					.flex-row();
				}
			}
			.illegal .card-head {
				background: @red;
			}
			.highlighted .card-head {
				background: @highlight;
			}
		}
		.grid-view {
			flex: 1 0 20%;	
			min-width: calc(@cardW*2 + 1rem)
		}
		.grid-inner {
			.flex-row();
			flex-wrap: wrap;
			flex-direction: row-reverse;
			justify-content: flex-end;
			.card-container {
				.flex-col();
				margin: 0 @thin @thin 0;

				.card-controls {
					.flex-row();
					align-items: center;
					opacity: 0;
					pointer-events: none;
					position: absolute;
					z-index: 15;
					filter: drop-shadow(0 0 1rem @darkest);
					border-radius: @thinnest;
					transform: scale(1.2);

					.quantity {
						.clean-button();
						padding: @thin 0;
						height: 3rem;
						&:hover {background: @lightest;}
						span {
							color: @darkest;
							&:first-child {&:hover {color: @green;}}
							&:last-child {&:hover {color: @red;}}
						}
					}
				}

				&:hover .card-controls {
					opacity: 1;
					pointer-events: all;
				}
			}
			.illegal .fullImg {
				box-shadow: 0 0 1rem @red !important;
			}
		}
	}
}

.advanced-search {
	width: 80vw;
	height: 80vh;
	h2 {
		padding-bottom: 1rem
	}
	section {
		margin-bottom: 1rem;
		max-height: initial;
	}
	.cmc {
		.bar {
			align-items: center;
		}
		.cmc-op {
			width: 2rem;
		}
	}
	.pages {
		width: 18rem;
		justify-content: space-between;
	}

	.advanced-search-results {
		.flex-row();
		flex-wrap: wrap;
		padding: @thin;
		background: @darker;
		border-radius: @thinner;
		.card-controls {
			.flex-col();
			opacity: 0;
			position: absolute;
			z-index: 100;
		}
		.card-container {
			padding: 0 @thin @thin 0;
			&:hover .card-controls {
				opacity: 1;
			}
		}
	}
}
