
.card-container {
  transition: .2s;
}
  .card-head {
    .flex-row();
    justify-content: space-between;
    color: @darkest;
    margin: 0 @thinner @thinner;
    border-radius: @thinner;
    background: rgba(255, 255, 255, 0.7);
    padding: @thinnest @thinner;
    font-family: @header;
    text-align: left;
    transition: .2s;
    &:hover {
      cursor: pointer;
      background: @highlight;
      transform: scale(1.1);
    }
  }

  .card-img {
    transition: .2s;
    object-fit: cover;
    min-width: @cardW;
    width: @cardW;
    min-height: @cardH;
    height: @cardH;
    border-radius: @thin;
  }
  .card-img:hover,
  .card-img.selected {
    cursor: pointer;
    box-shadow: 0 0 @thin @highlight;
    transform: scale(1.1);
  }


